/* ===Custom Vars=== */
:root {
  --dark-blue: hsl(243, 87%, 12%);
  --grayish-blue: hsl(240, 75%, 98%);
  --bright-blue: hsl(224, 93%, 58%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-gray: hsl(0, 0%, 75%);
  --font-family-body: "Open Sans", sans-serif;
  --font-family-headings: "Raleway", sans-serif;
  --font-weight-body: 400;
  --font-weight-headings-normal: 400;
  --font-weight-headings-bold: 700;
}

/* ===Imports=== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');

/* ===Resets=== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: 1.125rem;
  color: #fff;
}

input {
  width: 100%;
  border: 1px solid var(--dark-blue);
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin-bottom: 2rem;
}

/*form { width: 100%; }*/
ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ===Utils=== */
.container {
  width: 1300px;
  max-width: 90%;
  margin: 0 auto;
}

.main-title {
  font-size: 2.5rem;
}

.sub-title {
  font-size: 1.5rem;
}

.main-title,
.sub-title {
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
  margin-bottom: 2rem;
}

.blue-text {
  color: var(--dark-blue);
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background: var(--bright-blue);
  width: 100%;
  color: #fff;
  padding: 1.2rem 4rem;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
}
.btn-sm-pad { padding: 1.2rem; }

.nice-link {
  color: var(--moderate-cyan);
  border-bottom: 2px solid var(--moderate-cyan);
  padding-bottom: 0.5rem;
}
.nice-link:after {
  content: "";
  background-image: url("images/icon-arrow.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: -0.5rem;
  width: 30px;
  height: 30px;
}

.text-with-icon:before {
  padding-right: 1.5rem;
}
.text-with-icon:nth-child(1):before {
  content: url("images/icon-phone.svg");
}
.text-with-icon:nth-child(2):before {
  content: url("images/icon-email.svg");
}

.resp-width {
  width: 80%;
  margin: 0 auto;
}

.bg-img {
  background-image: url("images/bg-curve-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 5rem 0 10rem;
}

/* ===Page CSS=== */
.navbar {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-items: start;
  margin-bottom: 5rem;
}
.navbar__links {
  align-self: center;
  justify-self: end;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-normal);
}
.navbar__links a {
  color: var(--dark-blue);
}
.navbar__links a:nth-child(2) {
  margin: 0 0.5rem;
}

.hero {
}
.hero__img {
  margin-bottom: 4rem;
}
.hero__text {
}

.productivity {
  padding: 5rem 0 10rem;
  background: #f8f8fe;
}
.productivity__img {
  margin-bottom: 5rem;
}
.productivity__text {
}
.card {
  background: #fff;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px hsl(240, 100%, 94.1%);
}
.card__quote {
  width: 30px;
  margin-bottom: 1rem;
}
.card__avatar {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(2, 25px);
  grid-column-gap: 1.5rem;
}
.card__avatar__img {
  grid-row: 1/3;
}
.card__avatar__img img {
  border-radius: 50%;
}
.card__avatar__name {
  font-weight: 700;
  font-size: 1.2rem;
}
.card__avatar__role {
  font-size: 0.9rem;
  align-self: end;
}

/* CTA Section*/

.cta-section {
  background: var(--desaturated-blue);
  padding: 4rem 0;
}

.cta-section input {
  margin-bottom: 1rem;
}

/* Footer Section */
.footer {
  background: var(--dark-blue);
  padding: 4rem 0;
}

.footer__logo {
  width: initial;
  margin-bottom: 2rem;
}

.footer__sections__contact li,
.footer__sections__links li {
  margin-bottom: 1.5rem
}

.footer__sections__contact,
.footer__sections__links > * {
  margin-bottom: 4rem;
}

.footer__sections__social-icon {
  display: flex;
  margin-bottom: 4rem;
}

.footer__sections__social-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.4rem;
}

.footer__copyright { font-size: 12px; }

.footer__copyright a { text-decoration: underline; }

/* ===Media Query=== */
@media (min-width: 750px) {
  body {
    text-align: left;
  }

  input {
    margin-bottom: 0;
  }

  input,
  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .text-center { text-align: left; }

  .bg-img {
    background-image: url("images/bg-curve-desktop.svg");
    padding-bottom: 15rem;
  }

  .resp-width {
    width: 100%;
  }

  .navbar {
    margin-bottom: 10rem;
  }

  .navbar__links a:nth-child(2) {
    margin: 0 3rem;
  }

  .productivity .container, 
  .hero,
  .cta-section .container,
  .hero__text form {
    display: flex;
  }

  .hero__img {
    margin-bottom: 0;
  }

  form input { flex: 3; margin-right: 1.5rem; }
  form button { flex: 1; }

  .productivity__img, .hero__img { flex: 40%; order: 2; }
  .productivity__text, .hero__text { flex: 60%; order: 1; margin-right: 4rem; }

  .card {
    width: 45vw;
    max-width: 100%;
  }

  .cta-section__text { flex: 55%; margin-right: 10rem; }
  .cta-section__form { flex: 45%; }
  .cta-section__form .btn { width: 45%; }

  .footer__logo { margin-bottom: 4rem; }

  .footer__sections {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 4rem;
  }

  .footer__sections__contact,
  .footer__sections__links > * { margin-bottom: 2rem; }

  .footer__sections__links {
    display: flex;
    justify-content: space-around;
  }

  .footer__copyright { text-align: right; }
}
